<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shaga3 Web.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BAA60DEE4BB02195DB37A448F7B77360C0425418</string>
				<key>dateExpires</key>
				<string>10/27/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T9NMFS4742.com.idesignadv.DeglaComp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T9NMFS4742</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T9NMFS4742.com.idesignadv.DeglaComp</string>
				</array>
			</dict>
			<key>name</key>
			<string>DeglaComp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9d9ae498-5982-4132-9cbf-e5581b8a68db</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.idesignadv.DeglaComp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T9NMFS4742</string>
				<key>name</key>
				<string>Sherif Zayan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
